/*Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

/*----------Generics----------*/


ul {
    list-style-type: none;
}

h1 {
    font-size: 78px;
    font-weight: 800;
    padding: 70px 0;
}

h2 {
    font-weight: 700;
    font-size: 38px
}

h4 {
    border-top: 1px solid black;
    line-height: 80px;
}

.plan * {
    font-size: 15px;
}

.flex {
    display: flex;
}

li a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0161FF;
    margin-left: -20px;
}

img {
    display: block;
    max-width: 100%;
}

/*----------Utils----------*/

/*Color*/
.col-black {
    color: black;
}

.col-white {
    color: white;
}

.col-lightgrey {
    color: #66686B;
}

.col-blue {
    color: #0161FF;
}

.col-red {
    color: #61082B;
}

/*Backround color*/

.bgcol-blue {
    background-color: #0161FF;
}

/*Margin*/

.mg-bt-sm {
    margin-bottom: 20px;
}

.mg-bt-md {
    margin-bottom: 40px;
}

.mg-top-md {
    margin-top: 40px;
}

.mg-top-xl {
    margin-top: 70px;
}

.mg-top-xxl {
    margin-top: 150px;
}

.mg-bt-xl {
    margin-bottom: 70px;
}

/*Padding*/

.pd-sm {
    padding: 30px;
}

.pd-md {
    padding: 40px;
}


/*----------Header----------*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.box-header {
    background-color: white;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    height: 25px;
    display: block;
    position: relative;
    bottom: 4px;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.navbar-left a:hover {
    border-bottom: 3px solid #0161FF;
}

.btn-try-now {
    position: relative;
    left: 20px;
}

.login {
    text-decoration: none;
}


.container {
    margin-top: 80px;
    height: 750px;
    background-color: #B4D0E7;
}

.big-container {
    max-width: 70%;
    margin: 0 auto;
}

.small-box {
    max-width: 400px;
}

.big-box {
    max-width: 900px;
    height: 400px;
}

.jumbotron {
    max-height: 480px;
}

.fa-arrow-down {
    animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
    from {
        translate: 0 0;
    }

    to {
        translate: 0 -20px;
    }
}

/*----------Plan in the main----------*/

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
}

.plan-title {
    font-size: 38px;
}

.billing-btn {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    top: 5px;
    border-radius: 100px;
}

.checked {

    border: 5px solid #0161FF;
}

.no-checked {
    border: 1px solid lightgray;
    margin-left: 50px;
}


.column-plan {
    margin-top: 50px;
    min-height: 800px;
    gap: 50px;
    flex-wrap: wrap;
}


.plan {
    flex-basis: calc(100% / 3 - 100px / 3);
    border: 1px solid lightgray;
}

.column-plan .plan:last-child {
    flex-grow: 1;
    position: relative;
}

.enterprise-plus {
    position: absolute;
    top: 70px;
    right: 30px;
}

.price>p {
    line-height: 18px;
}


.license {
    border-bottom: 1px solid lightgray;
    min-height: 40px;
    line-height: 40px;
    justify-content: center;
}

.title-plan {
    padding: 30px;
    line-height: 40px;
}

.price {
    font-size: 15px;
}

.plan h3 {
    font-size: 25px;
}

.free-30-days {
    text-decoration: none;
    text-align: center;
    padding: 10PX 30px;
    font-size: 15px;
}

.hr-plan {
    width: 50px;
}

/*----------Partner contact in the main----------*/

.container-partner {
    width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
}

.partner-img {
    height: 500px;
    width: 600px;
}

.partner-box {
    width: 60%;
}

.partner-box-info {
    flex-basis: 40%;
    text-align: left;
    padding-top: 50px;
    padding-left: 40px;
}

.partner-title {
    font-size: 25px;
}

.info-partner {
    line-height: 25px;
}

.btn-find-partner {
    font-size: 16px;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

/*----------Operation with Dropbox----------*/

.box-card {
    min-height: 900px;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(100% / 3 - 60px / 3);
}

.card img {
    max-width: 300px;
}

.card h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

/*----------More partner----------*/

.logo-more-partner {
    flex-basis: calc(100% / 3);
    height: 600px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.box-logo img {
    max-width: 150px;
    filter: invert(100%)
}

.box-logo {
    flex-basis: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.hr-centralbox {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.box-logo:hover {
    border: 20px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


/*Backround color box logo left*/

.leftbox-bgcol-logo-top-left {
    background-color: #A2D39B;
}

.leftbox-bgcol-logo-top-right {
    background-color: #61082B;
}

.leftbox-bgcol-logo-bm-left {
    background-color: #0793CE;
}

.leftbox-bgcol-logo-bm-right {
    background-color: #FF1C1D;
}

/*Backround color box logo center*/

.centerbox-bgcol-box-logo-center {
    padding: 50px;
    background-color: #F5F5F5;
}

/*Backround color box logo right*/

.rightbox-bgcol-logo-top-left {
    background-color: #D5001E;
}

.rightbox-bgcol-logo-top-right {
    background-color: #B4D0E7;
}

.rightbox-bgcol-logo-bm-left {
    background-color: #0E2481;
}

.rightbox-bgcol-logo-bm-right {
    background-color: #FFD830;
}

#img-centerbox {
    width: 250px;
}

/*----------Agency----------*/

.agency {
    height: 300px;
    background-color: #B4D0E7;
    justify-content: center;
    align-content: center;
    gap: 80px;

}

.agency-box {
    align-items: center;
    flex-basis: 35%;

}

.btn-agency {
    padding: 10px 30px;
    background-color: white;
    text-decoration: none;
}

/*FAQ*/

.menu {
    min-height: 700px;
}

.menu-faq h3 {
    text-decoration: none;
    display: block;
}

.submenu {
    display: none;
}

.submenu p {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.menu-faq:hover .submenu {
    display: block;
}

/*Footer*/

.ft-container {
    min-height: 500px;
    background-color: black;
    justify-content: center;
    padding: 100px;
}

.ft-card {
    flex-basis: calc(70% / 5);
}

.ft-card * {
    color: white;
    line-height: 40px;
}

.ft-card h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.hr-ft {
    width: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.ft-language {
    color: #999999;
}

/*----------Esercizio finito---------*/